/* FONTS */
@use "./reset.scss";
@use "./fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Press+Start+2P&display=swap");

.container {
  max-width: 1830px;
  margin: 0 auto;
}
.hero {
  padding-top: 45px;
  background: no-repeat 34.5% 48% url("/src/assets/bg-img.png"),
    no-repeat 35% url("/src/assets/bg2.png");
  &__rules {
    margin-top: 85px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }
  &__text {
    font-family: "Press Start 2P", system-ui;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    border: 3px dashed #ce3d70;
    max-width: 620px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    background: rgba(244, 77, 136, 0.45);
    backdrop-filter: blur(14px);
    color: #fff;
    &:nth-of-type(2) {
      background: red;
      background: rgba(183, 235, 41, 0.5);
      margin-left: 187px;
      border: 3px dashed #b7eb29;
    }
  }
  &__header {
    display: flex;
    align-items: center;
  }
  .title {
    font-weight: 400;
    font-size: 120px;
    max-width: 1245px;
    width: 100%;
    text-transform: uppercase;
    color: #b7eb29;
    &.bottom {
      color: #f44d88;
      text-align: right;
      max-width: 1834px;
    }
  }
  .nav {
    margin-left: 91px;
    max-width: 500px;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      li {
        position: relative;
        &:nth-of-type(2) {
          &::after {
            content: url("../assets/nav_star.png");
            position: absolute;
            right: -3px;
            top: -30px;
          }
        }
        a {
          transition: all 250ms ease-in-out;
          &:hover {
            color: #f44d88;
          }
          border: 2px solid #b7eb29;
          border-radius: 30px;
          text-transform: uppercase;
          color: #fff;
          font-size: 24px;
          font-weight: 400;
          padding: 10px 30px;
          line-height: 167%;
        }
      }
    }
  }
}

.ticket {
  position: relative;
  padding-top: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__button {
    margin-bottom: 190px;
  }
  &__title {
    transition: all 250ms ease-in-out;
    font-family: "Press Start 2P", system-ui;
    font-size: 50px;
    line-height: 80%;
    text-transform: uppercase;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    padding: 60px;
    border: 1px blue solid;
    background: linear-gradient(90deg, #b7eb29, #f44d88, #b7eb29);
    background-size: 200% 100%;
    background-position: 0% 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 3s ease-in-out infinite;

    @keyframes gradientMove {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  &__smile {
    position: absolute;
    top: 505px;
    right: 477px;
  }
}
